@charset "UTF-8";

:root {
  --font-family-headings: 'DM Sans', sans-serif;
  --font-family-primary: 'Poppins', sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-light: 300;
  --font-weight-semi-bold: 600;
  --color-menu-item: #666;
  --font-size-menu-item: 1.125rem;
  --line-height-menu-item: 1.625;
}

html,
body {
  background-color: #f5f5f5;
  font-family: var(--font-family-primary);
  font-size: 1rem;
  font-weight: var(--font-weight-regular);
  padding: 0;
}

a {
  color: inherit;
}
